<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>PROFILE</title>
    
  </head>
  <body action="/index"method='get' style="background-image: url('https://4vector.com/i/free-vector-5-beautiful-sky-theme-vector_004187_sky%20(1).jpg');background-repeat: no-repeat;background-size:100%; height: 650px;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">WELCOME!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Certificates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="education">Edu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact-Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="address">Address</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <center><img src="https://i1.sndcdn.com/artworks-4cuHGzHm3XyzpnMn-hGJhlw-t500x500.jpg" style="height: 230px;width: 210px;margin-top:50px;border-radius: 200px;"></center>
  <center><p><h2 style="color:rgb(167, 12, 38);">-:Overview:-</h2></center>
  <center><p style="color:rgba(15, 1, 1, 0.932);font-style: italic"><b>Hii I am Ashutosh Mishra from Village Chandra Post Maholi District Sitapur Uttar Pradesh.<br>
      I am Btech final year student from Dr. A.K.T.U Lucknow specialization in ECE. I am fresher and looking for a job in related field</p></center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


  </body>
</html>